<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>




<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    ADD ORDERS
</button>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">




<div class="container">

    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="customerDetail-form">

                <div class="form-group">
                    <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="enter barcode">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputMrp" class="col-sm-2 col-form-label">Mrp</label>
                    <div class="col-sm-10">
                        <input  type="number" class="form-control" name="mrp" min="0" step="0.1" oninput="validity.valid||(value='');" id="inputMrp" placeholder="enter mrp">
<!--                        <input type="text" class="form-control" name="mrp" id="inputMrp" placeholder="enter mrp">-->
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
                    <div class="col-sm-10">
                        <input  type="number" class="form-control" name="quantity" min="0" oninput="validity.valid||(value='');" id="inputQuantity" placeholder="enter quantity">
<!--                        <input type="text" class="form-control" name="quantity" id="inputQuantity" placeholder="enter quantity">-->
                    </div>
                </div>

                <button type="button" class="btn btn-primary" id="add-customerDetail">Add</button>
                &nbsp;
            </form>
        </div>
    </div>


<!--     Blank Row-->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="customerDetail-table">
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">Barcode</th>-->
<!--                    <th scope="col">Mrp</th>-->
<!--                    <th scope="col">Quantity</th>-->
<!--                    <th scope="col">Actions</th>-->
<!--                </tr>-->
<!--                </thead>-->
                <tbody>
                </tbody>

            </table>

        </div>
    </div>








</div>
<div class="modal-footer">
<!--    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--    <button type="button" class="btn btn-primary">Save changes</button>-->
</div>
</div>
</div>
</div>





<!--     CustomerDetail Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="edit-customerDetail-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit CustomerDetail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="customerDetail-edit-form">

                        <div class="form-group">
                            <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="barcode" placeholder="enter barcode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputMrp" class="col-sm-2 col-form-label">Mrp</label>
                            <div class="col-sm-10">
                                <input  type="number" class="form-control" name="mrp" min="0" step="0.1"  oninput="validity.valid||(value='');" placeholder="enter mrp">
<!--                                <input type="text" class="form-control" name="mrp" placeholder="enter mrp">-->
                            </div>
                        </div>
                <div class="form-group">
                    <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
                    <div class="col-sm-10">
                        <input  type="number" class="form-control" name="quantity" min="0" oninput="validity.valid||(value='');" placeholder="enter quantity">
<!--                        <input type="text" class="form-control" name="quantity" placeholder="enter quantity">-->
                    </div>
                </div>
                        <input type="hidden" name="id" >
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="update-customerDetail">Update</button>
                </div>
            </div>
        </div>
    </div>


    <!-- CustomerDetail Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="upload-customerDetail-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload CustomerDetail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="customerDetail-file">
                        <input type="file" class="custom-file-input" id="customerDetailFile">
                        <label class="custom-file-label" for="customerDetailFile" id="customerDetailFileName">Choose file</label>
                    </div>
                    <a th:href="@{/sample/customerDetail.tsv}" target="_blank">Download Sample</a>
                    <br>
                    Rows: <span id="rowCount">0</span>,
                    Processed: <span id="processCount">0</span>,
                    Errors: <span id="errorCount">0</span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="process-data">Upload</button>
                    <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Container end-->





<!--for the orderID-->
</div>
<h5>LIST OF ORDERS</h5>
<div class="col-12">
    <table class="table table-striped" id="orderid-list-table">
        <thead>
        <tr>
            <th scope="col">Barcode</th>
            <th scope="col">Creation Time</th>
        </tr>
        </thead>
        <tbody id="order-display-table">
        </tbody>
    </table>





<!--order detail modal    -->
    <div class="modal fade" id="order-detail-modal" tabindex="-1" role="dialog" aria-labelledby="example-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="example-modal-label">Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div >
                    <table id="order-detail-modal-body">
                        <thead>
                        <tr>
                            <th scope="col">Barcode</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Selling Price</th>
                            <th scope="col">Total Cost</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>
</div>





</div>

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/customerDetail.js}"/></script>

</body>

</html>