<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"> </head>

<body>

<nav th:replace="snippets.html :: home_app_navbar"></nav>

<div class="container" >

<h3>Home</h3>
<div style="display: flex;justify-content: center;margin-top:5em;">
 <!-- Top row with form-->
	<div class="card" style="width: 18rem;margin-right:3em">
		<img class="card-img-top" src="https://img.freepik.com/free-vector/brand-construction-concept-illustration_114360-12410.jpg?w=1060&t=st=1689220666~exp=1689221266~hmac=7702c4f75eb20b26bc57ac089171236fa3132e9ecc57e1c01ef6d75ed4a0fa9c" alt="Card image cap">
		<div class="card-body">
			<a th:href="@{/ui/brand}" class="btn btn-outline-info">Brand</a>
		</div>
	</div>

	<div class="card" style="width: 18rem;margin-right:3em">
		<img class="card-img-top" src="https://img.freepik.com/free-vector/online-groceries-concept-illustration_114360-1786.jpg?w=1060&t=st=1689220795~exp=1689221395~hmac=5622c024ef0644c407410f486bc8d58ac709d8ddd35ff0a1e81507607655ad69" alt="Card image cap">
		<div class="card-body">
			<a th:href="@{/ui/product}" class="btn btn-outline-info">Product</a>
		</div>
	</div>

	<div class="card" style="width: 18rem;margin-right:3em">
		<img class="card-img-top" src="https://img.freepik.com/free-vector/conveyor-belt-warehouse-concept-illustration_114360-15026.jpg?w=1060&t=st=1689220578~exp=1689221178~hmac=9891e28dd04ce4f9507ae4290f87d9e0c9419cbeb86719dae64036b97683bc17" alt="Card image cap">
		<div class="card-body">
			<a th:href="@{/ui/inventory}" class="btn btn-outline-info">Inventory</a>
		</div>
	</div>

	<div class="card" style="width: 18rem;margin-right:3em">
		<img class="card-img-top" src="https://img.freepik.com/free-vector/order-food-concept-illustration_114360-6860.jpg?w=1060&t=st=1689219120~exp=1689219720~hmac=cd55693fd4734238ea235080d031993752500c2475a5efad641fff1832f1ece7" alt="Card image cap">
		<div class="card-body">
			<a th:href="@{/ui/customerDetail}" class="btn btn-outline-info">Order</a>
		</div>
	</div>

	<div class="card" style="width: 18rem;margin-right:3em">
		<img class="card-img-top" src="https://img.freepik.com/free-vector/marketing-consulting-concept-illustration_114360-9659.jpg?w=1060&t=st=1689220862~exp=1689221462~hmac=3dfdf153888ab8065e14a721a61dfaddb1264ae7317f482701ba70cf55ab5595" alt="Card image cap">
		<div class="card-body">
			<a th:href="@{/ui/reportsview}" class="btn btn-outline-info">Reports</a>
		</div>
	</div>

</div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>