<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>
<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div style="display: flex;justify-content: center;margin-top:5em;" class="container">
<div class="card" style="width: 18rem;margin-left:2em">
    <img class="card-img-top" src="https://img.freepik.com/free-vector/people-analyzing-growth-charts_23-2148866843.jpg?w=1480&t=st=1688981237~exp=1688981837~hmac=0f49c785fd4e6b33a6eb953df0b07b7e7b3344296435f745342976d19bcf5684" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Brand Report</p>
    </div>
</div>




<div class="card" style="width: 18rem;margin-left:2em">
    <img class="card-img-top" src="https://img.freepik.com/free-vector/store-staff-check-number-products-that-must-be-delivered-customers-during-day_1150-51079.jpg?w=1480&t=st=1688980583~exp=1688981183~hmac=885d6c50b8d7ac9e87db1a746ddd565081c920bf900a7cd8680762222553249d" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Inventory Report</p>
    </div>
</div>




<div class="card" style="width: 18rem;margin-left:2em">
    <img class="card-img-top" src="https://img.freepik.com/free-vector/stock-market-analysis_23-2148598449.jpg?w=1480&t=st=1688980484~exp=1688981084~hmac=23343f0bda9e9df35af06a0ba7105485889cc7b11cd90fc62d791cb722df8d67" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Sales Report</p>
    </div>
</div>




<div class="card" style="width: 18rem;margin-left:2em">
    <img class="card-img-top" src="https://img.freepik.com/free-vector/data-inform-illustration-concept_114360-864.jpg?w=1480&t=st=1688979326~exp=1688979926~hmac=c3081867541cd615bbd68eddf6793b0eb31d492363ba80efd9fe11e0d2e6e1cf" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Day to Day Sales Report</p>
    </div>
</div>
</div>

<footer th:replace="snippets.html :: name_footer"></footer>


</body>

</html>